<!-- header.inc -->
<div class="container">
	<div class="row">
		<div class="col-sm-12">
			<h1>
				Page not found
			</h1>
			<p>
				The page you requested <strong>does not exist</strong>. Check the address
				to see if you or your referrer made a typo.
			</p>
			<p>
				An overview of services provided by CLARIN can be found via CLARIN's main
				website  at <a href="https://www.clarin.eu">www.clarin.eu</a>.
			</p>
			<p>
				If you encounter this page unexpectedly, please report this to
				<a href="mailto:sysops@clarin.eu">sysops@clarin.eu</a>!
			</p>
		</div>
	</div>
</div>
<!-- footer.inc -->
