#footer {
	min-height: 10em;
	padding-top: 30px;
	border-top: 1px solid #d5d5d5;
	background-color: #eee;
	color: #777;
}

#footer .version-info {
	color: #9d9d9d;
}

#footer .footer-fineprint {
	color: #777;
}

#footer .footer-fineprint a {
	color: #777;
}


.navbar-nav a.clarin-logo {
	min-height: 50px;
	width: 119px;
	background-image: url('../images/clarin-logo-wide.png');
	background-size: 115px 46px;
	background-position-x: 5px;
	background-position-y: 2px;
	background-repeat: no-repeat;
}

.navbar-nav a.clarin-logo span {
	display: none;
}

.navbar-nav a.clarin-logo :hover {
	background-color: inherit;
}
